context = GraphMatchingContext
program = cgraal/CGRAAL_unix64
parameters = 
optimizationParameters = 
compatibleDataSetFormats = GwLEDADataSetFormat&GwLEDADataSetFormat&SeqSimDataSetFormat
outputFormat = CgraalRunResultFormat
alias = C-GRAAL

[invocationFormat]
invocationFormat = %e% %i{gw1}% %i{gw2}% %i{pairlist1}% %o%.numbers %o%.names