context = GraphMatchingContext
program = migraal/MI-GRAALRunner.py
parameters = p
optimizationParameters = p
compatibleDataSetFormats = GwLEDADataSetFormat&GwLEDADataSetFormat&SeqSimDataSetFormat?
outputFormat = MigraalRunResultFormat
alias = MI-GRAAL

[invocationFormat]
invocationFormat = %e% %i{gw1}% %i{gw2}% %o% -p %p% %{if/i{seqsim1}/-q %i{seqsim1}%/}%

[p]
desc = p
type =  1
def = 1
minValue = 1
maxValue = 63