context = GraphMatchingContext
program = netal/netal
parameters = aa,bb,cc,ii
optimizationParameters = aa,bb,cc,ii
compatibleDataSetFormats = EdgeListDataSetFormat&EdgeListDataSetFormat
outputFormat = NetalRunResultFormat
alias = NETAL

[invocationFormat]
invocationFormat = %e% %i{edgelist1}% %i{edgelist2}% -a %aa% -b %bb% -c %cc% -i %ii% -o %o%

[aa]
desc = Similarity and Interaction Score (lambda?)
type = 2
def = 0.0001
minValue = 0.0000000001
maxValue = 0.9999999999

[bb]
desc = unknown (betta?)
type = 2
def = 0
minValue = 0.0
maxValue = 0.9999999999

[cc]
desc = Topology vs. Biology Balance (alpha?)
type = 2
def = 1
minValue = 0.0000000001
maxValue = 1.0

[ii]
desc = number of iterations
type = 1
def = 2
minValue = 1
maxValue = 1000000
