context = GraphMatchingContext
program = spinal/spinal
parameters = algo,alpha
optimizationParameters = algo,alpha
compatibleDataSetFormats = GMLDataSetFormat&GMLDataSetFormat&PINDataSetFormat?
outputFormat = SpinalRunResultFormat
alias = Spinal

[invocationFormat]
invocationFormat = %e% -%algo% -n %i{gml1}% %i{gml2}% %o%
invocationFormat_bak = %e% -%algo% -%{if/i{seqsim1}/ns/n}% %i{gml1}% %i{gml2}% %{if/i{seqsim1}/%i{seqsim1}%/}% %o% %alpha%

[algo]
desc = p
type =  0
def = I
options = I,II

[alpha]
desc = p
type =  2
def = 0.0
minValue = 0.0
maxValue = 1.0